1. change to python 3.8 using https://stackoverflow.com/questions/62898911/how-to-downgrade-python-version-from-3-8-to-3-7-mac
	- pyenv global 3.8 (assuming its already installed)
	- eval "$(pyenv init --path)"


2. Navigate to Accent_Recognition directory then 
python -m venv accent-env && source accent-env/bin/activate
# python -m venv article-accent-env && source article-accent-env/bin/activate


3. 
python -m pip install -U pip setuptools wheel && python -m pip install -r requirements.txt


4. 
python -m pip install tensorflow-macos==2.8.0 tensorflow-metal==0.4

5. 
make sure you have done brew install ffmpeg